.title {
  text-align: center;
}

/*project images styles */
.img-container {
  margin:15px 0px;
}

.img-container:hover img{
  opacity: 0.4;
}

.img-container:hover .middle {
  opacity: 1;
}

.img-container:hover .middle-tools {
  opacity: 1;
}

/*on hover information styles*/
.middle {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.middle-tools {
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.proj-img {
  width: 100%;
  -webkit-box-shadow: 2px 12px 50px 1px rgba(0,0,0,0.52);
  -moz-box-shadow: 2px 12px 50px 1px rgba(0,0,0,0.52);
  box-shadow: 2px 12px 50px 1px rgba(0,0,0,0.52);

}

.text {
  color: #000;
}

/*programming icons*/
.icons {
  display: inline;
  color: #000;
  font-size: 40px;
}

#portFooter{
    padding-top:32px;
    right: 0;
    bottom: 0;
    left: 0;
}

#portFooter .container{
    text-align: center;
}

#portFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #777;
}

#portFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#portFooter a{
    color: #282b2d;
    font-size: 18px;
}

#portFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#portFooter .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

#portFooter .fa{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#portFooter .fa-free-code-camp:hover{
   color: #268d33;
}

#portFooter .fa-free-code-camp:focus{
    color: #268d33; 
}

#portFooter .fa-google-plus:hover{
    color:red;
}

#portFooter .fa-google-plus:focus{
    color:red;
}

#portFooter .fa-linkedin:hover{
    color: #005ccc;

}

#portFooter .fa-linkedin:focus{
    color:#005ccc;
}

#portFooter .fa-github:hover{
   color: #000;
}

#portFooter .fa-github:focus{
    color: #000; 
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#portFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}


/*small screen*/
@media (max-width: 320px) {
    .middle-tools {
      opacity: 0;
      position: absolute;
      top: 80%;
      left: 50%;
      transition: .5s ease;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }

    .icons {
      font-size: 30px;
    }
}